Package: ai.paisseon.vivy
Name: Vivy
Author: paisseon
Description: Fluorite Ion's Song
Maintainer: paisseon
Version: 1.0
Depends: firmware (>= 13.0), mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Icon: https://i.imgur.com/5Bmm40D.png
SileoDepiction: https://paisseon.github.io/info/vivy.json
